node_modules/
dist/
.vite/
coverage/
.idea/

android/.gradle/
android/local.properties
android/app/build/
android/build/

ios/App/DerivedData/
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
*.xcuserstate

*.log
.DS_Store
Thumbs.db
